<div class="background">
    <div class="heading">
        <img class="picture" src="https://cdn.pixabay.com/photo/2016/04/01/12/18/bloc-1300653_960_720.png">
        <span>Notes</span>    
    </div>    
    <div class="container">
        <div class="new">
            <div class="text">Create new note</div>  
                <mat-form-field  class="noteInput">
                  <mat-label>Name</mat-label>
                  <input matInput [(ngModel)]="name" placeholder="Write name of note">
                </mat-form-field>
                <mat-form-field appearance="fill" class="noteInput">
                    <mat-label>Textarea</mat-label>
                    <textarea class="noteInputTextArea" [(ngModel)]="text" matInput placeholder="Write new note"></textarea>
                  </mat-form-field>  
                  <button mat-flat-button class="button" (click)="onAdd()">Add</button>
        </div> 
        <div class="find">
            <div class="text">Find one note</div>
            <mat-form-field  style="margin: 10%; width: 210px;">
                <mat-label>ID</mat-label>
                <input matInput [(ngModel)]="findId" placeholder="Write name of note">
              </mat-form-field>
              <button mat-flat-button style="margin-top: 0px;" class="button" (click)="onFind()">Find</button>
              <div *ngIf="findNoteText!=undefined">
                <mat-form-field appearance="fill" class="noteInput">
                    <mat-label>Text:</mat-label>
                    <textarea class="noteInputTextArea" matInput>{{findNoteText}}</textarea>
                  </mat-form-field>  
              </div>
        </div>     
        <div class="delete">
            <div class="text">Delete one note</div>
            <mat-form-field style="margin: 10%; width: 230px;">
                <mat-label>ID</mat-label>
                <input matInput [(ngModel)]="deleteId" placeholder="Write name of note">
              </mat-form-field>
              <button mat-flat-button (click)="onDelete()" style="margin-top: 0px;"class="button">Delete</button>
        </div>
        <div class="notes">
            <div class="text">All saved notes</div>
            <hr >
            <div *ngFor="let note of notes" class="background">
                <div class="oneNote">
                    <mat-label style="margin:40px;">Name: {{note.title}}</mat-label>
                    <mat-label style="margin:40px;">ID: {{note.id}}</mat-label>
                    <mat-form-field appearance="fill" class="noteInput">
                        <mat-label>Text:</mat-label>
                        <textarea class="noteInputTextArea" matInput>{{note.text}}</textarea>
                      </mat-form-field>  
                </div>            
              </div>
        </div>         
    </div>
   
</div>